<div class="content">
  <div class="inner-content">
    <p><div id="titlepg2"> ABOUT </div></p>
    <div id="textpg3"> Jag, Jutyar Nerway, grundare och utvecklare av PizzaLuren, har som mal att gora det enkelt och tillgangligt bade far mina och dina kunder. Digitaliserade menyer dar den vanliga manniskan kan ta en titt pa utbud och i lugn och ro bestamma sig innan kopet. Inga avgifts-tillagg och onodiga pengar at spillo nar man endast vill bestalla en maltid och njuta. </div>
    <div id="pers1">
      <div id="aroundimg"> <%= image_tag '6.jpeg' %>  <p>Jutyar Nerway</p>  </div>
      <div id="textblw">  I'm a paragraph. Click here to add your own text and edit me. It's easy. Just click "Edit Text" or double click me and you can start adding your own content and make changes to the font. I'm a great place for you to tell a story and let your users know a little more about you. </div>
    </div>
    <div id="pers2">
      <div id="aroundimg"> <%= image_tag '7.jpeg' %>  <p>Narin Nerway</p>  </div>
      <div id="textblw">  I'm a paragraph. Click here to add your own text and edit me. It's easy. Just click "Edit Text" or double click me and you can start adding your own content and make changes to the font. I'm a great place for you to tell a story and let your users know a little more about you. </div>
    </div>
  </div>
</div>