<!-- <div class="content">
  <div class="inner-content">
    <div id="wrap-slider">
      <div id="slider">
        <div id="slideshow">
          <div><img src="http://amaderbrahmanbaria.com/en/wp-content/uploads/2014/02/1391259223936341000.jpg">
          </div>
          <div><img src="http://media-cache-ec0.pinimg.com/736x/5a/2c/34/5a2c340cb101c8063578624a6bc6d557.jpg">
          </div>
        </div>
      </div>
      <div id="buton1"> <p> Mitt kontrakt &#10162; </p> </div>
      <div id="buton2"> <p> Erbjudande &#10162; </p> </div>
      <div id="buton3"> <p> Veckans &#10162; </p>  </div>
      <div id="bigbelow"> <p> Enkelt, tillgangligt och bra,precis sa det ska va! </p> </div>
    </div>
  </div>
</div> -->


<div class="content">
  <div class="inner-content">
    <p><div id="titlepg2"> Kontakt </div></p>
    <div id="textpg2"> I'm a paragraph. Click here to add your own text and edit me. It's easy. Just click "Edit Text" or double click me and you can start adding your own content and make changes to the font.
    </div>
    <div id="themap">
      <div id="googleMap">
      </div>
    </div>
    <div id="theform">
      <form>
        <table>
          <tr>
            <td>
              <input type="text" id="textu" placeholder="Name">
            </td>
          </tr>
          <tr>
            <td>
              <input type="text" id="textu" placeholder="Email">
            </td>
          </tr>
          <tr>
            <td>
              <input type="text" id="textu" placeholder="Subject">
            </td>
          </tr>
          <tr>
            <td>
              <textarea placeholder="Message"></textarea>
            </td>
          </tr>
          <tr>
            <td>
            </td>
          </tr>
        </table>
      </form>
        <input type="submit" id="send" value="Send">
    </div>
  </div>
</div>


