<div class="content">
  <div class="inner-content">
    <div id="wrap-slider">
      <div id="slider">
      <h1><span>Welcome to the Hotel Management</span></h1>
        <div id="slideshow">
          <div><img src="http://amaderbrahmanbaria.com/en/wp-content/uploads/2014/02/1391259223936341000.jpg">
          </div>
          <div><img src="http://media-cache-ec0.pinimg.com/736x/5a/2c/34/5a2c340cb101c8063578624a6bc6d557.jpg">
          </div>
        </div>
      </div>
      <div id="buton1"> <p> Mitt kontrakt &#10162; </p> </div>
      <div id="buton2"> <p> Erbjudande &#10162; </p> </div>
      <div id="buton3"> <p> Veckans &#10162; </p>  </div>
      <div id="bigbelow"> <p> Enkelt, tillgangligt och bra,precis sa det ska va! </p> </div>
    </div>
  </div>
</div>
<%= link_to 'Login',login_path, :class => 'btn' %>
<%= link_to 'Contact Us',contact_us_path, :class => 'btn' %>
